BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
FixNamespaceComments: false

InsertBraces: true
InsertNewlineAtEOF: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3

SortIncludes: true

AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortLambdasOnASingleLine: All
